:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Garante que o corpo do site pegue a tela toda */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Evita barras de rolagem duplas */
}

/* O comando !important obriga o site a obedecer isso acima de qualquer outro arquivo */
#root {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}